[tool.poetry]
name = "auth-middleware"
version = "0.1.8"
description = "Async Auth Middleware for FastAPI/Starlette"
authors = ["impalah <impalah@gmail.com>"]
readme = "README.md"
packages = [{include = "auth_middleware", from = "src"}]

[tool.poetry.dependencies]
python = "^3.12"
fastapi = "^0.105.0"
python-dotenv = "^1.0.0"
svix-ksuid = "^0.6.2"
colorlog = "^6.8.0"
python-jose = {extras = ["cryptography"], version = "^3.3.0"}
requests = "^2.31.0"
pydantic = {extras = ["email"], version = "^2.5.3"}

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.4"
pytest-mock = "^3.12.0"
pytest-asyncio = "^0.23.3"
mock = "^5.1.0"
pytest-cov = "^4.1.0"
black = "^23.12.1"
pytest-env = "^1.1.3"
mypy = "^1.8.0"
sphinx = "^7.2.6"
sphinx-rtd-theme = "^2.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
